* {
    margin: 0;
    padding: 0;
}


img {
    width: 4em;
    margin-right: 5px;
    transition: 0.5s; /* Время эффекта */
   }
img:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
}


