* {
    margin: 0;
    padding: 0;
}

.Input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.input {
    border-radius: 20px;
    width: 30em;
    height: 2em;
    outline: none;
}

.btn {
    margin-left: 2em;
    height: 2em;
    font-weight: normal;
    border-radius: 20px;
    width: 5em;
    outline: none;
}
